html {
	margin: 0;
	background: #2e2d2d;
	font-family: helvetica;
	max-width: 1920px;
 }

 body {
	margin: 0;
 }

 h1 {
	margin: 0;
	color: #656565;
	font-size: 1.85em;
 }

 
 header {
	width: 100%;
	padding-left: 10%;
	background: #656565;
	color: rgb(196, 27, 27);
	height: 100px;
	padding-top: 5px;
	font-weight: 700;
	font-size: 1.5em;
 }

 .best_div {
	margin-left: 15px;
	width : 300px;
	height : 300px;
	border : 5px solid;
	margin 0px auto;
	background_image : url("images\juststreamit.png");
 }

 .img-best {
	padding-left: 50px;
	height: 300px;
	width: 300px;
 }

 .desc-best {
	padding-left: 50px;
	height: 300px;
	width: 200px;
	display: inline-block;
 }
 .container {
	width: 1300px;
	height: 100%;
	margin: 0 auto;
	padding: 30px;
 }

 .sectionTitle {
	padding-left: 40px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
 }

 .thumbs {
	text-align: center;
	margin-left: 15px;
 }

 .arrow {
	height: 140px;
	width: 45px;
 }

 .arrow:hover {
	-webkit-transform: scale(1.50);
	transform: scale(1.50);
	opacity: 1;
	z-index:20
 }
 ul.img-list {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
 }
 
 ul.img-list li {
	display: inline-block;
	height: 280px;
	margin: 0 1em 1em 0;
	position: relative;
	width: 10%;
 }
 
 ul.img-list li:hover span.text-content {
	opacity: 1;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
 }

 li.image {
	margin: auto;
 }

 .image:hover {
	-webkit-transform: scale(1.35);
	transform: scale(1.35);
	opacity: 1;
	z-index:20
 }
 
 .image {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	padding: 10px;
	margin: auto;
 }

 span.text-content {
	color: white;
	cursor: pointer;
	display: table;
	height: 260px;
	left: 15px;
	position: absolute;
	top: 15px;
	width: 160px;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
 }
 
 span.text-content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
 }
 
li.arrow {
	width: 45px;
	height : 100px
}


 /* The Modal (background) */
 .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 21; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {

	background-color: #3e3d3d;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #e7e7e7;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .modal-text {
	display : flex;
  }

  .modal-text p {
	padding-left: 40px;
  }

  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  } 